@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
.game-container {
  width: 800px; /* Set a fixed width */
  height: 600px; /* Set a fixed height */
  overflow: hidden; /* Hide anything outside the container */
  position: relative;
}
